/*All font*/
@font-face {
  font-family: "Lusitana";
  src: url(../fonts/Lusitana-Regular.ttf);
}

html,
head,
body {
  font-family: "Lusitana";
}

/*Full size font*/
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p,
  nav a {
    font-size: 1rem;
  }
}

/*Mobil font*/

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.375rem; /* 22px */
}

h3 {
  font-size: 1.125rem; /* 18px */
}

p,
nav a {
  font-size: 0.9375rem;
}
